.content-all{
    /* border: 1px solid black; */
    width: 100%;
    border-radius: 1rem;
    background: white;
    display: flex;
    flex-direction: column;
}

.content-left{
    padding: 40px 40px;
}

.content-right{
    padding: 40px 40px;

}
.content-info{
    display: flex;
    justify-content: space-between;
    /* padding: 40px 40px 0px 40px;  */
    width: 100%;
}

.text-info{
font-family: 'Mulish';
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #4E4B66;
}

.content-dot{
    display: flex;
    gap: 6px;
   
}
.dot{
    margin-top: 15px;
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background: #5F2EEA;
}

.image_jones{
margin-left: 40px;
}

.text-jonas{
font-family: 'Mulish';
font-weight: 600;
font-size: 20px;
line-height: 34px;
text-align: center;
color: #14142B;
}

.text-movie{
font-family: 'Mulish';
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
color: #4E4B66;
}

.br-btm{
    border-bottom: 1px solid black;
    width: 100%;
}

.text-loyalty{
font-family: 'Mulish';
font-weight: 600;
font-size: 16px;
line-height: 28px;
/* padding-top: 40px;
padding-left: 40px; */
color: #4E4B66;
}

.content-movie{
    /* background-image: url("../assets/profile/image_card.png"); */
    background-color: #5F2EEA;
    width: 100%;
    border-radius: 10px;
}

.content-two-move{
    display: flex;
    justify-content: space-around;
}

.text-content-movie{
    color: white;
    padding: 16px 0px 0px 16px;
}

.content-point{
display: flex;
gap: 6px;
padding-top: 20px;
padding-bottom: 16px;
}

.text-320{
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 22px;
    padding-left: 50px;
    line-height: 38px;
    color: #FFFFFF;
}

.text-points{
font-family: 'Mulish';
font-weight: 400;
font-size: 10px;
padding-top: 10px;
line-height: 24px;
color: #FFFFFF;
}

.text-180{
font-family: 'Mulish';
font-weight: 400;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #4E4B66;
}

.br-container{
    padding: 0px 0px 104px 0px;
}
.br-wrapper{
    position: relative;
    width: 100%;
    height: 16px;
    border-radius: 8px;
    background: #9ea4aa;
    
}

.br-point{
    position: absolute;
    width: 50%;
    height: 16px;
    border-radius: 8px;
    background: #5F2EEA;

}

@media screen and (max-width: 428px) {
    .image_jones{
        margin-left: 68px;
    }
    .text-jonas,.text-loyalty{
        font-weight: 400;
    }
   
}