@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');

.content-all {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: white;
  display: flex;
  flex-direction: column;
}

.content-left {
  padding: 40px 40px;
}

.content-right {
  padding: 40px 40px 0px 40px;
}
.content-info {
  display: flex;
  justify-content: space-between;
  /* padding: 40px 40px 0px 40px;  */
  width: 100%;
}

.text-info {
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #4e4b66;
}

.content-dot {
  display: flex;
  gap: 6px;
}
.dot {
  margin-top: 15px;
  width: 5px;
  height: 5px;
  border-radius: 100px;
  background: #5f2eea;
}

.image_jones {
  margin-left: 40px;
}

.text-jonas {
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #14142b;
}

.text-movie {
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #4e4b66;
}

.br-btm {
  border-bottom: 1px solid black;
  width: 100%;
}

.text-loyalty {
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* padding-top: 40px;
padding-left: 40px; */
  color: #4e4b66;
}

.content-movie {
  /* background-image: url("../assets/profile/image_card.png"); */
  background-color: #5f2eea;
  width: 100%;
  border-radius: 10px;
}

.content-two-move {
  display: flex;
  justify-content: space-around;
}

.text-content-movie {
  color: white;
  padding: 16px 0px 0px 16px;
}

.content-point {
  display: flex;
  gap: 6px;
  padding-top: 20px;
  padding-bottom: 16px;
}

.text-320 {
  font-family: 'Mulish';
  font-weight: 600;
  font-size: 22px;
  padding-left: 50px;
  line-height: 38px;
  color: #ffffff;
}

.text-points {
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 10px;
  padding-top: 10px;
  line-height: 24px;
  color: #ffffff;
}

.text-180 {
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #4e4b66;
}

.logout {
  margin-top: 94px;
  width: 100%;
  height: 56px;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #f7f7fc;
  background: rgb(207, 26, 26);
  border: none;
  border-radius: 8px;
}
.br-container {
  padding: 0px 0px 52px 0px;
}
.br-wrapper {
  position: relative;
  width: 100%;
  height: 16px;
  border-radius: 8px;
  background: #9ea4aa;
}

.br-point {
  position: absolute;
  width: 50%;
  height: 16px;
  border-radius: 8px;
  background: #5f2eea;
}

@media screen and (max-width: 768px) {
  .content-movie {
    max-width: fit-content;
    margin: auto;
  }
  .content-two-move {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
  }
  .content-right {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    padding: 20px 40px 0px 40px;
  }
  .text-loyalty {
    text-align: center;
  }
  .image_jones {
    margin-left: 232px;
  }
}

@media screen and (max-width: 428px) {
  .image_jones {
    margin-left: 68px;
  }
  .text-jonas,
  .text-loyalty {
    font-weight: 400;
  }
  .logout {
    display: none;
  }
}
