.aside-left {
  background-image: url("../assets/authbackground.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 383px;
  padding-bottom: 384px;
  width: 100%;
}

.aside-left-image-1 {
  width: 500px;
  height: 190px;
  margin-bottom: 9px;
}

.aside-left-header-1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.003em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0px;
}

.logo-container {
  display: flex;
  border: 2px solid white;
  padding: .2rem;
  width: fit-content;
}

.logo-container .golden p {
  margin: 0;
  padding: 0 .5rem;
  font-size: 5.1rem;
  font-weight: 500;
  color: var(--primary);
  background-color: white;
}

.logo-container .tix p {
  margin: 0;
  padding: 0 .5rem;
  font-size: 5.1rem;
  font-weight: 900;
  color: white;
}

.main {
  display: flex;
}

.aside-right {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 83px;
  padding-right: 83px;
  padding-top: 176px;
  padding-bottom: 138px;
}

.aside-right-header-1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.003em;
  color: #121212;
  margin-bottom: 12px;
}

.aside-right-text-9 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.007em;
  color: #aaaaaa;
  margin-bottom: 49px;
}

.aside-right-label-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #4e4b66;
  margin-bottom: 12px;
}

.aside-right-input-1 {
  width: 100%;
  height: 64px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #a0a3bd;
}

.aside-right-input-2 {
  width: 100%;
  height: 64px;
  background: #fcfdfe;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #a0a3bd;
}

.aside-right-div-1 {
  position: relative;
}

.aside-right-image-1 {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 24px;
  top: 22px;
}

.aside-right-btn-1 {
  width: 100%;
  height: 64px;
  background: var(--primary);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #f7f7fc;
  cursor: pointer;
  border: none;
  margin-bottom: 32px;
}

.aside-right-text-4 {
  text-align: center;
  margin-bottom: 40px;
}

.aside-right-text-2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: #696f79;
}

.aside-right-text-3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: rgba(95, 46, 234, 1);
  text-decoration: underline;
}

.aside-right-line-1 {
  width: 100%;
  height: 1px;
  border: 0.5px solid #dedede;
}

.aside-right-div-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.aside-right-text-5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.005em;
  color: #aaaaaa;
  margin-left: 37px;
  margin-right: 36px;
}

.aside-right-div-4 {
  display: flex;
  justify-content: space-between;
  column-gap: 36px;
}

.aside-right-btn-2 {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.005em;
  color: #a0a3bd;
  cursor: pointer;
  border: none;
}

.aside-right-image-2 {
  display: none;
}

.aside-right-text-6 {
  display: none;
}

.aside-right-text-8 {
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  .aside-left {
    display: none;
  }

  .aside-right {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 48px;
    padding-bottom: 88px;
  }

  .aside-right-header-1 {
    font-weight: 600;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.005em;
    color: #121212;
    margin-bottom: 39px;
  }

  .aside-right-text-9 {
    display: none;
  }

  .aside-right-image-2 {
    display: flex;
    border: 2px solid var(--primary);
    padding: .2rem;
    width: fit-content;
    margin-bottom: 1rem;
}

.aside-right-image-2 .golden p {
    margin: 0;
    padding: 0 .5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--secondary);
    background-color: var(--primary);
}

.aside-right-image-2 .tix p {
    margin: 0;
    padding: 0 .5rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--primary);
}

  .aside-right-div-2 {
    display: none;
  }

  .aside-right-input-2 {
    width: 100%;
    height: 64px;
    background: #fcfdfe;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 40px;
  }

  .aside-right-text-7 {
    display: none;
  }

  .aside-right-text-6 {
    display: block;
  }

  .aside-right-text-4 {
    text-align: center;
    margin-bottom: 39px;
  }

  .aside-right-text-8 {
    display: none;
  }

  .aside-right-btn-2 {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.005em;
    color: #a0a3bd;
    cursor: pointer;
    border: none;
  }

  .aside-right-div-4 {
    display: flex;
    justify-content: center;
    column-gap: 36px;
  }
}
